<!DOCTYPE html>
<html lang="en">
    <head> 
        <link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <div class="service-wrapper">
                <div class="service">
                    <h1>ABOUT US</h1>
                    <p>We're dedicated to advancing text summarization using the BART model, automating concise and insightful summaries. Our goal is to streamline access to crucial information, fostering efficiency and informed decisions through innovative algorithms.</p>
                    <div class="cards">
                        <div class="card">
                            <i class="fa fa-book"></i>
                                <h2>OUR VISION</h2>
                                <p>Our vision is to revolutionize the field of text summarization by leveraging state-of-the-art technologies such as the BART model to provide quick and accurate abstractive summaries.</p>
                        </div>
                        <div class="card">
                            <i class="fa fa-globe"></i>
                            <h2>OUR MISSION</h2>
                            <p>Our mission is to develop and deploy innovative solutions that streamline the summarization process, making it accessible and beneficial across various industries and applications.</p>
                        </div>
                        <div class="card">
                            <i class="fa fa-pencil"></i>
                            <h2>ACHIEVEMENTS</h2>
                               <p>
                                Pioneering BART-based abstractive summarization.
                                Seamlessly integrating into diverse platforms.
                                Industry accolades for innovative, precise summaries.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>